go 1.23.8

toolchain go1.24.6

use (
	./backend/api-gateway
	./backend/chat-svc
	./backend/discovery-svc
	./backend/search-svc
	./backend/shared-libs
	./backend/subscription-svc
	./backend/summarygen-svc
	./backend/user-svc
)
